<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.scientificconference500942" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>scientific Conference</name>
  <description>
        An application to handle a scientific conference.
    </description>
  <author email="f.falanga7@studenti.unisa.it" href="http://example.com/">
      Francesco Falanga
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="www/img/logo.png" />
    <splash src="www/img/logo.png" />
  </platform>
  <platform name="android">
    <icon src="www/img/logo.png" density="ldpi"/>
    <splash src="www/img/logo.png" density="land-ldpi"/>

  </platform>
</widget>